<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Debugging  -->
    <link rel="stylesheet" href="../static/css/body.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/products.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <!-- /Debugging -->

    <!-- Prod -->
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- /Prod -->

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>
    <!-- Заголовок -->
    <header class="container-fluid">
        <div class="nav row justify-content-between">
            <button class="shop-name col align-self-center">
                <a href="https://alcoshop-new.herokuapp.com/">
                    <h3>Алкошоп</h3>
                </a>
            </button>
            <ul class="nav-list col">
                <li class="d-inline-block"><a class="nav-list-item" href="">О нас</a></li>
                <li class="d-inline-block m-2">|</li>
                <li class="d-inline-block">
                    <button class="show-dropdown nav-list-item" onclick="showDropdown()">Продукция</button>
                </li>
                <li class="d-inline-block m-2">|</li>
                <li class="d-inline-block"><a class="nav-list-item" href="">Дисконт</a></li>
                <li class="d-inline-block m-2">|</li>
                <li class="d-inline-block"><a class="nav-list-item" href="">Контакты</a></li>
            </ul>
            <h3 class="menu-item col align-self-center" align="right">8-800-555-35-35</h3>
        </div>

        <ul class="row p-2" id="dropdown">
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Коньяк (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Вино (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Пиво (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Виски (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Вино игристое (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Водка (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Ликеры (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Текила (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Кашаса (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Граппа (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Хересы (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Настойка (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Ром (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Портвейн</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Джины (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Мадера (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Арманьяк (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Вермут (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Кальвадосы (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Вино плодовое (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Абсент (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Шнапс (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Бренди (виноградные) (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Бренди и листеляты фруктовые
                    (100)</a></li>
        </ul>
    </header>

    <!-- Основной контент -->
    <div class="container-fluid mt-2">
        <div class="row justify-content-center">

            <!-- Боковой фильтр -->
            <div class="col-2">
                <nav class="container" id="filters">
                    <div class="row">
                        <div class="col">
                            <button class="btn filter-btn btn-dark w-100" id="dropdown-btn-0"
                                onclick="showNavDropdown(0)">Нажми на меня</button>
                        </div>
                    </div>
                    <div class="filter-dropdown row" id="side-dropdown-item-0">
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                    </div>
                    <div class="dropdown-btn row">
                        <div class="col">
                            <button class="btn filter-btn btn-dark w-100" id="dropdown-btn-1"
                                onclick="showNavDropdown(1)">Нажми на меня</button>
                        </div>
                    </div>
                    <div class="filter-dropdown row" id="side-dropdown-item-1">
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn filter-btn btn-dark w-100" id="dropdown-btn-2"
                                onclick="showNavDropdown(2)">Нажми на меня</button>
                        </div>
                    </div>
                    <div class="filter-dropdown row" id="side-dropdown-item-2">
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn filter-btn btn-dark w-100" id="dropdown-btn-3"
                                onclick="showNavDropdown(3)">Нажми на меня</button>
                        </div>
                    </div>
                    <div class="filter-dropdown row" id="side-dropdown-item-3">
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn filter-btn btn-dark w-100" id="dropdown-btn-4"
                                onclick="showNavDropdown(4)">Нажми на меня</button>
                        </div>
                    </div>
                    <div class="filter-dropdown row" id="side-dropdown-item-4">
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="submit" class="btn filter-btn btn-warning w-100" value="Найти">
                        </div>
                    </div>
                </nav>
            </div>

            <!-- Продукты и сортировка -->
            <div class="col-7">
                <main class="container">
                    <!-- Верхняя сортировка и группировка -->
                    <div class="row">
                        <div class="col d-flex justify-content-start" id="sort-container">
                            <div class="sort-item p-3">
                                <span>Сортировать по цене:</span>
                                <span><a>по убыванию</a></span>
                            </div>
                            <div class="sort-item p-3">
                                <span>Сортировать по крепости:</span>
                                <span><a>по убыванию</a></span>
                            </div>
                        </div>
                    </div>

                    <!-- Продукты -->
                    <div class="row" id="product-container">
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                    </div>
                </main>
            </div>
        </div>
    </div>

    <!-- Подвал -->
    <footer class="container">
        <div class="row justify-content-center">
            <div class="col">
                <p align="center">Чрезмерное употребление алкоголя вредит вашему здоровью <br>
                    Все права защищены (c) Нарушения караются</p>
            </div>
        </div>
    </footer>

    <!-- Debugging -->
    <script src="../static/js/header.js"></script>
    <script type="text/babel" src="../static/js/products.js"></script>
    <!-- /Debugging -->

    <!-- Prod-->
    <script src="/js/header.js"></script>
    <script type="text/babel" src="/js/products.js"></script>
    <!-- /Prod -->
</body>

</html>