<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Debugging  -->
    <link rel="stylesheet" href="../static/css/body.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/products.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <!-- /Debugging -->

    <!-- Prod -->
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- /Prod -->

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>
    <header class="container-fluid">
        <div class="nav row justify-content-between">
            <button class="shop-name col align-self-center">
                <a href="https://alcoshop-new.herokuapp.com/">
                    <h3>Алкошоп</h3>
                </a>
            </button>
            <ul class="nav-list col">
                <li class="d-inline-block"><a class="nav-list-item" href="">О нас</a></li>
                <li class="d-inline-block m-2">|</li>
                <li class="d-inline-block">
                    <button class="show-dropdown nav-list-item" onclick="showDropdown()">Продукция</button>
                </li>
                <li class="d-inline-block m-2">|</li>
                <li class="d-inline-block"><a class="nav-list-item" href="">Дисконт</a></li>
                <li class="d-inline-block m-2">|</li>
                <li class="d-inline-block"><a class="nav-list-item" href="">Контакты</a></li>
            </ul>
            <h3 class="menu-item col align-self-center" align="right">8-800-555-35-35</h3>
        </div>

        <ul class="row p-2" id="dropdown">
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Коньяк (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Вино (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Пиво (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Виски (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Вино игристое (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Водка (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Ликеры (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Текила (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Кашаса (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Граппа (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Хересы (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Настойка (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Ром (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Портвейн</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Джины (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Мадера (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Арманьяк (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Вермут (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Кальвадосы (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Вино плодовое (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Абсент (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Шнапс (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Бренди (виноградные) (100)</a></li>
            <li class="col-3"><a href="https://alcoshop-new.herokuapp.com/products">Бренди и листеляты фруктовые
                    (100)</a></li>
        </ul>
    </header>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-3">
                <nav class="container p-2 m-1">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-dark w-100">Нажми на меня</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-dark w-100">Нажми на меня</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-dark w-100">Нажми на меня</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-dark w-100">Нажми на меня</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-dark w-100">Нажми на меня</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                        <div class="col-3">
                            <p>Test</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="submit" class="btn btn-warning w-100" value="Найти">
                        </div>
                    </div>
                </nav>

            </div>

            <div class="col-8">
                <nav class="container p-2 m-1">
                    <div class="row justify-content-around">
                        <div class="col-3">
                            <input class="form-control w-100" placeholder="Мин цена">
                        </div>
                        <div class="col-3">
                            <input class="form-control w-100" placeholder="Макс цена">
                        </div>
                        <div class="col-3">
                            <select class="form-control">
                                <option>Регион</option>
                                <option>Москва</option>
                                <option>Санкт Петербург</option>
                                <option>Самара</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select class="form-control">
                                <option label="default">Сортировать</option>
                                <option label="ascending">По возрастанию</option>
                                <option label="descending">По убыванию</option>
                            </select>
                        </div>
                    </div>
                </nav>

                <main class="container m-1">
                    <div class="row" id="root-main">
                        <!-- <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article>
                        <article class="product col-4">
                            <a href="" class="product-name">
                                <h3>Лучшее пиво</h3>
                            </a>
                            <a href=""><img class="product-img" src="../static/img/alco/beer.png" alt="alco-img"></a>
                            <h4>&#9733; &#9733; &#9733; &#9733; &#9734;</h4>
                            <p>Очень полезное пиво, рекомендую пить всем</p>
                            <p>Крепость: 4.7%</p>
                        </article> -->
                    </div>
                </main>
            </div>
        </div>
    </div>

    <footer class="container">
        <div class="row justify-content-center">
            <div class="col">
                <p align="center">Чрезмерное употребление алкоголя вредит вашему здоровью <br>
                    Все права защищены (c) Нарушения караются</p>
            </div>
        </div>
    </footer>

    <!-- Debugging -->
    <script src="../static/js/header.js"></script>
    <script type="text/babel" src="../static/js/products.js"></script>
    <!-- /Debugging -->

    <!-- Prod-->
    <script src="/js/header.js"></script>
    <script type="text/babel" src="/js/products.js"></script>
    <!-- /Prod -->
</body>

</html>